<ul class="landing_footer"><!--
-->{{#each links as |link|}}<!--
	--><li class="landing_footer-element">
			{{#link-to link.link.route link.link.param class="landing_footer-link"}}<span class="landing_footer-title">{{link.title}}</span>{{/link-to}}
		</li><!--
-->{{/each}}<!--
--></ul>
{{yield}}