<h1 class="landing_section-title">{{#link-to section.link class="landing_section-title-link"}}{{section.title}}<span class="landing_section-title-icon icon-arrow_circle_right"></span>{{/link-to}}</h1>
<p class="landing_section-text">{{section.text}}</p>
{{landing-footer links=section.footer}}
{{yield}}