<nav>
	<span class="main_nav-hamb_trigger" onclick={{action 'toogleNav'}} style></span>
	<ul class="main_nav-link_list">
		<li>Index</li>
		<li>FrontEnd Dev</li>
		<li>Graphic Design</li>
		<li>Photography</li>
	</ul>
</nav>