<img src="http://fakeimg.pl/200x75" alt="">
<h1>I am Lowlo</h1>
<address>
	<a href="mailto:iamlowlo@gmail.com">iamlowlo@gmail.com</a>
	<ul class="main_footer-social_links">
		<li><a href="http://www.linkedin.com/"><img src="http://fakeimg.pl/40x40/000099/fff/?text=In" alt="LinkedIn Logo"></a></li>
		<li><a href="http://www.github.com/iamlowlo"><img src="http://fakeimg.pl/40x40/666/fff/?text=Gh" alt="Github Logo"></a></li>
	</ul>
</address>