{{responsive-photo title=selectedPhotography.title urlList=selectedPhotography.urlList isFullScreen=true}}
{{#thumbnail-menu}}
<ul class="photo_gallery-thumnbail_menu">
	{{#each photoList as |photo|}}{{!--
	--}}<li class="photo_gallery-thumnbail_menu-element">
		{{#link-to 'photography' (query-params photo_id=photo.id) class="photo_gallery-thumnbail_menu-link"}}
		<img class="photo_gallery-thumnbail_menu-picture" src="{{photo.urlList.thumbnail}}" alt="{{photo.title}}">{{photo.title}}{{/link-to}}</li>{{!--
--}}{{/each}}
</ul>
{{/thumbnail-menu}}