*, *:before, *:after {
	box-sizing: border-box;	
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

body,
html {
	margin: 0;
	padding: 0;
}

h1, h2, h3,
h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
}