/*
	COLORS
*/
$polite_white: #F2F2F2;
$polite_black: #333;

$color_1-light: #426684;
$color_1: #23425B;
$color_1-dark: #152430;

$color_2-light: #23AF98;
$color_2: #0B7F6C;
$color_2-dark: #1E6358;

$color_3-light: #6E4AA8;
$color_3: #3F2072;
$color_3-dark: #25153F;