/*
	COLORS
*/
$polite_black: #333;
$polite_white: #F2F2F2;
$polite_grey_1: mix($polite_black, $polite_white, 90%);
$polite_grey_2: mix($polite_black, $polite_white, 80%);
$polite_grey_3: mix($polite_black, $polite_white, 40%);
$polite_grey_4: mix($polite_black, $polite_white, 10%);
$polite_grey_5: mix($polite_black, $polite_white, 5%);
$deep_bluish_black: #16161A;

$color_1-light: #426684;
$color_1: #23425B;
$color_1-dark: #152430;

$color_2-light: #23AF98;
$color_2: #0B7F6C;
$color_2-dark: #1E6358;

$color_3-light: #6E4AA8;
$color_3: #3F2072;
$color_3-dark: #25153F;

$font_family-thick: "Passion One", "Arial Black", sans-serif;
$font_family-regular: "Open Sans", Arial, sans-serif;