@import "variables";
@import "reset";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Passion+One');
@import "fonts";

@import "utils";

@import "components/main_header";
@import "components/main_nav";
@import "components/main_footer";
@import "components/grid_view";
@import "components/responsive_photo";
@import "components/photo_gallery";

@import "components/landing_section";
@import "components/landing_footer";

body {
	background-color: $polite_white;
	font-family: $font_family-regular;
	height: 100%;
}

h1, h2, h3,
h4, h5, h6 {
	font-family: $font_family-thick;
	font-weight: normal;
}

.ember-application {
	& > .ember-view {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 100%;
	}
}

a {
	color: $color_1-light;
	text-decoration: none;
	font-style: normal;
}

main {
	& > h1 {
		font-family: $font_family-regular;
		font-weight: 600;
		letter-spacing: -0.05em;
		line-height: 0.95em;
		margin: 1em 1.1em 0.5em;

		@media (min-width: $screen_md){
			margin: 1.5em 1.8em 0.6em;
		}

		@media (min-width: $screen_lg){
			margin: 1.5em 3.9em 0.6em;
		}
	}
}