.landing_section {
	background-color: $polite_grey_7;
	color: $polite_grey_2;
	padding: 2.5em 2em 8em;
	position: relative;

	&-title {
		font-family: $font_family-regular;
		font-size: 1.5em;

		&-link {
			padding-right: 1em;
			position: relative;
		}

		&-icon {
			bottom: 0.35em;
			font-size: 0.7em;
			position: absolute;
			right: 0;
		}
	}

	&:nth-child(1) &-title a {
		color: $color_1-light;
	}

	&:nth-child(2) &-title a {
		color: $color_2-light;
	}

	&:nth-child(3) &-title a {
		color: $color_3-light;
	}


	&-text {
		font-family: $font_family-regular;
		font-size: 2em;
		font-weight: 800;
		letter-spacing: -0.05em;
		line-height: 1.1em;
		margin: 0;
		padding-bottom: 0.8em;
	}

	footer {
		bottom: 0;
		margin: 0 -2em;
		overflow: hidden;
		position: absolute;
		width: 100%;
	}
	@media (min-width: $screen_md) {
		padding: 4em 4em 12em;
		&-title {
			font-size: 2em;
		}
		&-text {
			font-size: 3em;
			padding-bottom: 0.5em;
		}
		footer {
			margin: 0 -4em;
		}
	}
	@media (min-width: $screen_lg) {
		padding: 7.5em 12em 16em;
		&-title {
			font-size: 1.8em;
		}
		&-text {
			font-size: 5.5em;
		}
		footer {
			margin: 0 -12em;
		}
	}
}