.main_footer {
	background: $polite_white;
	padding: 3.5em 1em;
	text-align: center;

	h1 {
		color: $color_2
	}
	
	&-email_me {
		color: $color_3;
		cursor: pointer;
		display: inline-block;
		font-style: normal;
		padding: 0.5em;
		position: relative;
		width: 10em;
		&:hover {
			&:after {
				transform: translateX(-50%) perspective(300px) rotate3d(0,0,0,0deg);
			}
		}
		span {
			display: inline-block;
			margin-right: 0.1em;
			margin-bottom: 0.2em;
			vertical-align: middle;
		}

		&:after {
			color: $polite_white;
			background-color: $color_3;
			content: attr(data-content);
			display: block;
			left: 100%;
			padding: 0.5em 1em;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%) perspective(300px) rotate3d(1,0,0,90deg);
			transform-origin: center bottom;
			transition: transform 0.2s linear;
		}
	}

	&-social_links {
		&-list {
			padding: 0.5em;

			li {
				display: inline-block;
			}
		}
		&-link {
			color: $polite_white;
			display: block;
			font-size: 1.5em;
			height: 2em;
			padding: 0.3em;
			text-align: center;
			width: 2em;
		}
	}
}