.main_nav {
	$line_width: 2px;
	$trigger_size: 40px;
	$trigger_padding: 8px;
	$hamb_color: $color_2;
	$hamb_lines-height: (($trigger_size - (2 * $trigger_padding) - (4 * $line_width)) / 3) + (2 * $line_width);
	$hamb_lines-width: ($trigger_size - 2 * $trigger_padding);
	
	&-hamb_trigger {

		display: block;
		cursor: pointer;
		height: $trigger_size;
		position: relative;
		width: $trigger_size;
		&:before, 
		&:after {
			border-top: $line_width solid $hamb_color;
			border-bottom: $line_width solid $hamb_color;
			content: "";
			display: block;
			height: $hamb_lines-height;
			left: $trigger_padding;
			position: absolute;
			transition: transform 0.3s ease-in, height 0.3s ease-in, border-width 0.3s ease-in;
			transform: rotate(0) translate(0, 0);
			transform-origin: 0 0;
			width: $hamb_lines-width;
		}
		&:before {
			top: $trigger_padding;
		}
		&:after {
			bottom: $trigger_padding;
		}
	}

	&.opened &-hamb_trigger {
		&:before,
		&:after {
			height: 0;
			border-width: 1px;
			width: 1.25 * $hamb_lines-width;
		}
		&:before {
			transform: rotate(45deg) translate(2px, -1px);
		}
		&:after {
			transform: rotate(-45deg) translate(1px, 0px);
		}
	}

	&-link_list {
		max-height: 0;
		overflow: hidden;
		position: absolute;
		background: $polite_grey_7;
		left: 0;
		margin-top: $main_header-border_bottom_size;
		top: 100%;
		transition: max-height 0.3s ease-in;
		width: 100%;
		z-index: 1;
	}
	&.opened &-link_list {
		max-height: 150px;
		border-bottom: 3px solid $color-3;
	}

	&-link {
		display: block;
		padding: 0.4em 0.8em;
		border-bottom: 1px solid $polite_grey_5;			
		
		&:last-child {
			border-bottom: none;
		}

		&:hover {
			background: $color_1;
			border-color: $color_1-dark;
			color: $polite_white;
		}

		&.active {
			background: $color_1-light;
			border-color: $color_1-dark;
			color: $polite_white;
		}
	}
	@media (min-width: $screen_md) {
		&-hamb_trigger {
			height: $trigger_size * 1.5;
			width: $trigger_size * 1.5;
			
			&:before, 
			&:after {
				height: $hamb_lines-height * 1.7;
				width: $hamb_lines-width * 1.7;
			}
		}

		&.opened &-hamb_trigger {
			&:before, 
			&:after {
				width: $hamb_lines-width * 1.7 * 1.4;
			}
		}

		&.opened &-link_list {
			max-height: 235px;
		}

		&-link {
			font-size: 1.2em;
			padding: 0.8em 3em;
		}
	}
	@media (min-width: $screen_lg) {
		&-hamb_trigger {
			display: none;
		}
		&-link_list {
			background: none;
			bottom: 0;
			left: auto;
			line-height: 0.9em;
			margin-top: 0;
			max-height: none;
			right: 0;
			overflow: visible;
			text-align: right;
			top: auto;
			width: auto;
			li {
				border-left: 0.66666 * $main_header-border_bottom_size solid $color_3-light;
				display: inline-block;
				overflow: hidden;
				transform: skewX(-25deg);
				vertical-align: bottom;
			}
		}
		&.opened &-link_list {
			border-bottom: none;
		}
		&-link {
			transform: skewX(25deg);
			padding: 0.8em 1.2em 0.7em;
			&:hover, &.active {
				background: none;
			}
			&:hover {
				color: $color_1;
			}
			&.active {
				color: $color_2;
			}
			font-weight: 600;
		}
	}
	@media (min-width: $screen_xlg) {
		&-link_list {
			right: 12.5%;
			margin-right: -1.5em;
		}
	}
}