.main_header {
	background: $polite_white;
	border-bottom: $main_header-border_bottom_size solid $color_3-light;
	color: $color_1;
	padding: 0.8em 0 0;
	position: relative;

	&-title{
		font-family: $font_family-regular;
		font-weight: 300;
	}
	&-link {
		border-top: $main_header-border_bottom_size solid $color_3-light;
		border-left: $main_header-border_bottom_size solid $color_3-light;
		color: $color_1;
		display: inline-block;
		margin: 0.5em 1em 0;
		padding: 0.2em 1em;
		position: relative;
		&:after,
		&:before {
			box-sizing: border-box;
			display: block;
			content: attr(data-content);
			height: 100%;
			left: 0;
			top: 0;
			overflow: hidden;
			padding: 0.2em 1em;
			position: absolute;
			width: 100%;
		}
		&:before {
			color: $polite_white;
			background: $color_3;
			transition: transform 0.3s ease-in;
			transform-origin: center left;
			transform: perspective(300px) rotate3d(0,0.1,0,90deg);
		}
		&:after {
			color: $polite_white;
			font-weight: 600;
			font-size: 0.96em;
			letter-spacing: -0.013em;
			background: $color_2;
			transform: perspective(300px) rotate3d(0.1,0,0,90deg);
			transition: transform 0.2s ease-in 0.25s;
			transform-origin: center top;
		}
		&:hover {
			&:before,
			&:after  {
				transform: perspective(300px) rotate3d(0,0,0,90deg);
			}
		}
	}

	.main_nav-hamb_trigger {
		bottom: 10px;
		position: absolute;
		right: 10px;
	}
  
	@media (min-width: $screen_sm) {
		padding-top: 1em;

		&-link {
			&, &:before, &:after {
				padding: 0.4em 1.4em;
			}
		}
	}
	@media (min-width: $screen_md) {
		padding-top: 2em;
		padding-left: 0.5em;
		&-link {
			font-size: 1.4em;
		}
	}
	@media (min-width: $screen_lg) {
		border-bottom-width: 0.66666 * $main_header-border_bottom_size;
		overflow: hidden;
		padding-top: 3em;
		padding-left: 5em;
		&-link {
			border-top-width: 0.66666 * $main_header-border_bottom_size;
			border-left-width: 0.66666 * $main_header-border_bottom_size;
		}
	}
}